.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-nav {
    font-size: 1.1rem;
    text-align: right;
  }
  
  .nav-link {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #ffc107;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }
  
  .navbar-toggler {
    border-color: #fff;
  }