
<div class="container">
  <h4 class="h4x">Servicio técnico</h4>
  <div class="form-row align-items-center mt-3">
      <div class="form-check">
        <label  class="my-auto"><b>Buscar por:</b></label>
      </div>

    <div class="col-auto">
      <select class="form-control" id="filtrarPor" [(ngModel)]="estadoST">
        <option value="1">Pendiente</option>
        <option value="2">Solucionados</option>
      </select>
      
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary my-auto" (click)="buscarBoton()">Buscar</button>
    </div>
  <div  class="col-auto ml-auto mb-3">
    <button type="submit" class="btn btn-success my-auto" (click)="crearCasoModal()">Nuevo Caso</button>
</div>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">Id</th>
          <th  class="text-center">DNI</th>
          <th  class="text-center">Fecha de inicio</th>
          <th  class="text-center">Descripción</th>
          <th  class="text-center" >Asociado</th>
          <th  class="text-center" >Dirección</th>
          <th  class="text-center" >Técnico</th>
          <th  class="text-center" >Tipo</th>
          <th  class="text-center">Acción</th>
        </tr>
      </thead>
      <tbody *ngIf="getUser() == 3">
        <tr *ngFor="let casosT of casos | paginate: { itemsPerPage: 5, currentPage: paginaActual}" [ngClass]="{'table-success': casosT.idestadoservicio == 2, 'table-warning': casosT.idestadoservicio === 1}">
               <ng-container *ngIf="casosT.idtiposerviciot == 1">
          <td scope="row"  class="text-center">{{casosT.idproblemat}} </td>
            <td scope="row"  class="text-center">{{casosT.dnic}} </td>
            <td scope="row"  class="text-center">{{casosT.fechainicio}} </td>
            <td scope="row"  class="text-center">{{casosT.descripcionserviciot}} </td>
            <td scope="row"  class="text-center"><h6>{{casosT.clienteN + ' ' +casosT.clienteA}}</h6></td>
            <td scope="row"  class="text-center" >{{casosT.direccion}} </td>
            <td scope="row"  class="text-center" >{{casosT.tecnico}} </td>
            <td scope="row"  class="text-center" ><h4 class="incidente">Incidente</h4></td>
            <td><div class="text-center">
              <button class="btn btn-danger " (click)="eliminarCaso(casosT, 0)">Eliminar</button> 
                <button class="btn btn-warning ml-2" (click)="updatearCaso(casosT)" *ngIf="casosT.idestadoservicio == 1">Ver/Modificar</button>
            </div>
        </td>
                 </ng-container>
        </tr>
      </tbody>
      <tbody *ngIf="getUser() == 2">
        <tr *ngFor="let casosT of casos | paginate: { itemsPerPage: 5, currentPage: paginaActual}" [ngClass]="{'table-success': casosT.idestadoservicio == 2, 'table-warning': casosT.idestadoservicio === 1}">
               <ng-container *ngIf="casosT.idtiposerviciot == 2">
          <td scope="row"  class="text-center">{{casosT.idproblemat}} </td>
            <td scope="row"  class="text-center">{{casosT.dnic}} </td>
            <td scope="row"  class="text-center">{{casosT.fechainicio }} </td>
            <td scope="row"  class="text-center">{{casosT.descripcionserviciot}}</td>
            <td scope="row"  class="text-center">{{casosT.clienteN + ' ' + casosT.clienteA}} </td>
            <td scope="row"  class="text-center" >{{casosT.direccion}} </td>
            <td scope="row"  class="text-center" >{{casosT.tecnico}} </td>
            <td scope="row"  class="text-center"> <h4 ngClass="instalacionx">Instalación</h4></td>
            <td><div class="text-center">
                <button class="btn btn-danger "(click)="eliminarCaso(casosT, 1)">Eliminar</button> 
                <button class="btn btn-warning ml-2"(click)="updatearCaso(casosT)">Ver/Modificar</button>
            </div>
        </td>
        </ng-container>
        </tr>
      </tbody>

    </table>
    <pagination-controls (pageChange)="paginaActual = $event" previousLabel="Anterior"nextLabel="Siguiente"></pagination-controls>
  </div>




     <!-- Modal -->
     <ng-template #registrarServicioT>
      <div class="modal-header">
        <h4 class="modal-title">Registrar nuevo caso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitForm()">
          <div ngModelGroup='registrarServicio' #registrarServicioT='ngModelGroup'> 
            <div class="form-group">
              <label for="descripcion">Descripción:</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" required [(ngModel)]="CasosServicio.descripcionserviciot" #modificardescripcion='ngModel' maxlength="50" minlength="3">
              <div *ngIf="!modificardescripcion.valid && (modificardescripcion.touched || modificardescripcion.dirty)" class="text-danger">
                <span *ngIf="modificardescripcion.errors?.['required']">Campo requerido</span>
                <span *ngIf="modificardescripcion.errors?.['minlength']">Mínimo 3 caracteres</span>
              </div>
            </div>
            <div class="form-group">
              <label for="tecnico">Técnico:</label>
              <select class="form-select" [(ngModel)]="CasosServicio.idtecnico" name="tecnico">
                <option [value]="0">Sin Asignar</option>
                <option *ngFor="let tecnico of tecnicoList" [value]="tecnico.idtecnico">{{ tecnico.idtecnico + ' ' + tecnico.nombret + ' ' + tecnico.apellidot }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="cliente">Cliente:</label>
              <ng-container *ngIf="getUser() == 2">
                <select class="form-select" [(ngModel)]="CasosServicio.idcliente" name="cliente">
                  <option *ngFor="let cliente of sociosNoInstalados" [value]="cliente.idcliente">{{ cliente.nombre + ' ' + cliente.apellido + ' ' + cliente.dnic }}</option>
                </select>
              </ng-container>
              <ng-container *ngIf="getUser() == 3">
                <select class="form-select" [(ngModel)]="CasosServicio.idcliente" name="cliente">
                  <option *ngFor="let cliente of sociosInstalados" [value]="cliente.idcliente">{{ cliente.nombre + ' ' + cliente.apellido + ' ' + cliente.dnic }}</option>
                </select>
              </ng-container>
              <div *ngIf="!CasosServicio.idcliente && (CasosServicio.idcliente !== 0) && (registrarServicioT.dirty || registrarServicioT.touched)" class="text-danger">
                Selecciona un cliente
              </div>
            </div>
            <div class="form-group">
              <label for="tipoServicio">Tipo de Servicio:</label>
              <ng-container *ngIf="getUser() == 3">
                <select class="form-select" [(ngModel)]="CasosServicio.idtiposerviciot" name="tipoServicio">
                  <option [value]="1">Incidente</option>
                </select>
              </ng-container>
              <ng-container *ngIf="getUser() == 2">
                <select class="form-select" [(ngModel)]="CasosServicio.idtiposerviciot" name="tipoServicio">
                  <option [value]="2">Instalación</option>
                </select>
              </ng-container>
            </div>
            <div class="form-group">
              <label for="estado">Estado:</label>
              <select class="form-select" [(ngModel)]="CasosServicio.idestadoservicio" name="estado">
                <option [value]="1">Pendiente</option>
                <option [value]="2">Solucionado</option>
              </select>
              <div *ngIf="!CasosServicio.idestadoservicio && (CasosServicio.idestadoservicio !== 0) && (registrarServicioT.dirty || registrarServicioT.touched)" class="text-danger">
                Selecciona un estado
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!registrarServicioT.valid">Registrar</button>
          </div>
        </form>
      </div>
    </ng-template> 
    

    <ng-template #actualizarServicioT>
      <div class="modal-header">
        <h4 class="modal-title">Actualizar caso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitUpdate()">
          <div class="form-group">
            <label>Descripción:</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" required [(ngModel)]="CasosServicio.descripcionserviciot" #descripcion="ngModel" minlength="3" maxlength="50">
            <div *ngIf="!descripcion.valid && (descripcion.touched || descripcion.dirty)" class="text-danger">
              <span *ngIf="descripcion.errors?.['required']">Campo requerido</span>
              <span *ngIf="descripcion.errors?.['minlength']">Mínimo 3 caracteres</span>
            </div>
          </div>
          <div class="form-group">
            <label>Técnico:</label>
            <select class="form-select" [(ngModel)]="CasosServicio.idtecnico" name="tecnico" #tecnico="ngModel" >
              <option [value]="0">Sin Asignar</option>
              <ng-container *ngFor="let tecnicoItem of tecnicoList">          
                <option [value]="tecnicoItem.idtecnico">{{ tecnicoItem.idtecnico + ' ' + tecnicoItem.nombret + ' ' + tecnicoItem.apellidot }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
            <label>Tipo Servicio:</label>
            <select class="form-select" [(ngModel)]="CasosServicio.idtiposerviciot" name="servicioTecnico">
              <ng-container *ngIf="getUser() == 2">
                <option [selected]="true" [value]="2">Instalación</option>
              </ng-container>
              <ng-container *ngIf="getUser() == 3">
                <option [selected]="true" [value]="1">Incidente</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
            <label>Estado:</label>
            <select class="form-select" [(ngModel)]="CasosServicio.idestadoservicio" name="estado">
              <option [value]="1">Pendiente</option>
              <ng-container *ngIf="getUser() == 2">
                <option [value]="2">Instalado</option>
              </ng-container>
              <ng-container *ngIf="getUser() == 3">
                <option [value]="2">Solucionado</option>
              </ng-container>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!descripcion.valid || !tecnico.valid">Actualizar</button>
        </form>
      </div>
    </ng-template>