    /* Estilos para la tabla */
    table {
        margin: 20px 0;
        font-size: 0.9rem;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
  
      /* Estilos para hacer la tabla responsive */
      @media screen and (max-width: 600px) {
        table {
          display: block;
          overflow-x: auto;
          white-space: nowrap;
        }
        
        th, td {
          display: inline-block;
          border: none;
        }
        
        td {
          border-bottom: 1px solid #ddd;
        }
        
        td::before {
          content: attr(data-label);
          display: inline-block;
          font-weight: bold;
          width: 80px;
        }
      }