

<div class="container">
    <div class="form-row align-items-center mt-3">
        <div class="col-auto">
          <label class="sr-only" for="buscar">Buscar</label>
          <input type="text" class="form-control" id="buscar" placeholder="Buscar" [(ngModel)]="buscarBarra">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary my-auto" (click)="buscarMetodo()">Buscar</button>
          </div>
          <div class="form-check">
            <label for="" class="my-auto"><b>Buscar por:</b></label>
          </div>

        <div class="col-auto">
          <select class="form-control" id="filtrarPor" [(ngModel)]="buscarPor">
            <option value="0">Ninguno</option>
            <option value="1">Nombre</option>
            <option value="2">Apellido</option>
            <option value="3">Dni</option>
          </select>
          
        </div>
        <div class="form-check">
          <label for="" class="my-auto" *ngIf="getUser() === 2"><b>Listar por:</b></label>
        </div>
        <div class="form-group form-check-inline my-auto" *ngIf="getUser() === 2">
            <div class="col-auto">
              <select class="form-control" id="exampleSelect" [(ngModel)]="buscarPor2">
                <option value="0">Todos</option>
                <option value="1">Activos</option>
                <option value="2">Suspendidos</option>
              </select>
            </div>
      </div>
      <div class="col-auto ml-auto">
        <button type="submit" class="btn btn-success my-auto" (click)="crearSocioModal()">Nuevo socio</button>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">id</th>
          <th  class="text-center">Nombre Y Apellido</th>
          <th  class="text-center" >Dni</th>
          <th  class="text-center" >Telefono</th>
          <th  class="text-center">Direccion</th>
          <th  class="text-center ">Plan Internet</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let socio of sociosList" [ngClass]="{'table-success': socio.idestadoc === 1 && getUser() !== 3, 'table-danger': socio.idestadoc === 2 && getUser() !== 3}">
            <td scope="row"  class="text-center">{{socio.idcliente}} </td>
            <td scope="row"  class="text-center">{{socio.nombre}} </td>
            <td scope="row"  class="text-center">{{socio.dnic}} </td>
            <td scope="row"  class="text-center" >{{socio.telefono}} </td>
            <td scope="row" class="text-center">{{socio.direccionc}} </td>
            <td scope="row" class="text-center text-success">{{socio.servicio}} </td>
            <td scope="row" class="text-center"> <button type="button" class="btn btn-warning mr-2" *ngIf="getUser() === 2" (click)="getPagos(socio.idcliente, pagosModal)" >Ver pagos</button>
                 <button type="button" class="btn btn-primary mr-2" *ngIf="getUser() === 2">Modificar socio</button>
                <button type="button" class="btn btn-danger mr-2" (click)="borrarSocio(socio)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>


  <ng-template #pagosModal>
    <div class="modal-header">
      <h4 class="modal-title">Lista de Pagos</h4>
    </div>
    <div class="modal-body">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">ID Factura</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Fecha Vencimiento</th>
            <th class="text-center">Pagado</th>
            <th class="text-center">Servicio</th>
            <th class="text-center">Precio Total</th>
            <th class="text-center">Estado</th>
            
            <!-- Agrega más columnas según las propiedades de PagoDTO -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of pagosList">
            <td scope="row"  class="text-center">{{pago.idfactura}}</td>
            <td scope="row"  class="text-center">{{pago.fecha}}</td>
            <td scope="row"  class="text-center">{{pago.fechavencimiento}}</td>
            <td scope="row"  class="text-center"> {{pago.fechapagado}}</td>
            <td scope="row"  class="text-center">{{pago.servicio}}</td>
            <td scope="row"  class="text-center">{{pago.preciototal}}</td>
            <td scope="row"  class="text-center">{{pago.estado}}</td>
            <!-- Agrega más columnas según las propiedades de PagoDTO -->
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>


   <!-- Modal -->
<ng-template #registrarSocio>
  <div class="modal-header">
    <h4 class="modal-title">Registrar nuevo socio</h4>
    <button type="button" class="close" aria-label="Close" > <!-- (click)="modalRef.hide()" --> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="servicio">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="socio.nombre">
      </div>
      <div class="form-group">
        <label for="bajada">Apellido:</label>
        <input type="text" class="form-control" id="nombre" name="apellido" required [(ngModel)]="socio.apellido">
      </div>
      <div class="form-group">
        <label for="subida">DNI:</label>
        <input type="text" class="form-control" id="dni" name="dni" required [(ngModel)]="socio.dnic">
      </div>
      <div class="form-group">
        <label for="precio">Telefono:</label>
        <input type="number" class="form-control" id="telefono" name="telefono" required [(ngModel)]="socio.telefono">
      </div>
      <div class="form-group">
        <label for="precio">Direccion:</label>
        <input type="number" class="form-control" id="direccion" name="direccion" required [(ngModel)]="socio.direccionc">
      </div>

      <div class="form-group">
        <label for="precio">Servicio:</label>
        <select class="form-select">
          <option selected>Servicio sin asignar</option>
          <option *ngFor="let servicio of planesList2" [value]="servicio.idservicio">{{ servicio.servicio1 }}</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</ng-template>