

<div class="container">
    <div class="form-row align-items-center mt-3">
        <div class="col-auto">
          <label class="sr-only" for="buscar">Buscar</label>
          <input type="text" class="form-control" id="buscar" placeholder="Buscar" [(ngModel)]="buscarBarra">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary my-auto" (click)="buscarMetodo()">Buscar</button>
          </div>
          <div class="form-check">
            <label for="" class="my-auto"><b>Buscar por:</b></label>
          </div>

        <div class="col-auto">
          <select class="form-control" id="filtrarPor" [(ngModel)]="buscarPor">
            <option value="0">Ninguno</option>
            <option value="1">Nombre</option>
            <option value="2">Apellido</option>
            <option value="3">Dni</option>
          </select>
          
        </div>
        <div class="form-check">
          <label for="" class="my-auto" *ngIf="getUser() === 2"><b>Listar por:</b></label>
        </div>
        <div class="form-group form-check-inline my-auto" *ngIf="getUser() === 2">
            <div class="col-auto">
              <select class="form-control" id="exampleSelect" [(ngModel)]="buscarPor2">
                <option value="0">Todos</option>
                <option value="1">Activos</option>
                <option value="3">Pendientes</option>
                <option value="2">Suspendidos</option>
              </select>
            </div>
      </div>
      <div  *ngIf="getUser() === 3" class="col-auto ml-auto">
        <button type="submit" class="btn btn-success my-auto" (click)="crearSocioModal()">Nuevo socio</button>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">id</th>
          <th  class="text-center">Nombre Y Apellido</th>
          <th  class="text-center" >Dni</th>
          <th  class="text-center" >Telefono</th>
          <th  class="text-center">Direccion</th>
          <th  class="text-center ">Plan Internet</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let socio of sociosList | paginate: { itemsPerPage: 5, currentPage: paginaActualS,  id: 'uno'}" [ngClass]="{'table-success': socio.idestadoc === 1 &&  getUser() !== 3, 'table-danger': socio.idestadoc === 2  &&  getUser() !== 3, 'table-warning': socio.idestadoc === 3 && getUser() !== 3 }">
            <td scope="row"  class="text-center">{{socio.idcliente}} </td>
            <td scope="row"  class="text-center">{{socio.nombre + " "+socio.apellido}} </td>
            <td scope="row"  class="text-center">{{socio.dnic}} </td>
            <td scope="row"  class="text-center" >{{socio.telefono}} </td>
            <td scope="row" class="text-center">{{socio.direccionc}} </td>
            <td scope="row" class="text-center text-success">{{socio.servicio}} </td>
            <td scope="row" class="text-center"> <button type="button" class="btn btn-warning mr-2" *ngIf="getUser() === 2" (click)="getPagos(socio.idcliente, pagosModal, socio)" >Ver pagos</button>
                 <button type="button" class="btn btn-primary mr-2" *ngIf="getUser() === 2" (click)="modificarSocio(socio)">Modificar socio</button>
                <button type="button" class="btn btn-danger mr-2" (click)="borrarSocio(socio)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
      <pagination-controls (pageChange)="paginaActualS = $event" id="uno"  previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>

  </div>


  <ng-template #pagosModal>

    <div class="modal-header">
      <h4 class="modal-title">Lista de Pagos</h4>
    </div>
    <div class="modal-body">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">ID Factura</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Fecha Vencimiento</th>
            <th class="text-center">Pagado</th>
            <th class="text-center">Servicio</th>
            <th class="text-center">Precio Total</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acci&oacute;n</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of pagosList | paginate: { itemsPerPage: 5, currentPage: paginaActual, id: 'dos'}">
            <td scope="row" class="text-center">{{pago.idfactura}}</td>
            <td scope="row" class="text-center">{{pago.fecha}}</td>
            <td scope="row" class="text-center">{{pago.fechavencimiento}}</td>
            <td scope="row" class="text-center">{{pago.fechapagado}}</td>
            <td scope="row" class="text-center">{{pago.servicio}}</td>
            <td scope="row" class="text-center">{{pago.preciototal}}</td>
            <td scope="row" class="text-center">{{pago.estado}}</td>
            <td scope="row" class="text-center">
              <button type="button" class="btn btn-warning mr-2" (click)="cambiarEstadoPago(pago)">Estado</button>
              <button type="button" class="btn btn-danger mr-2" (click)="descargarFactura(pago)">Descargar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls id="instanciaOne" id="dos" (pageChange)="paginaActual = $event" previousLabel="Anterior"nextLabel="Siguiente"></pagination-controls>
    </div>
  </ng-template>




   <!-- Modal -->
<ng-template #registrarSocio>
  <div class="modal-header">
    <h4 class="modal-title">Registrar nuevo socio</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submitForm()">
      <div ngModelGroup = 'validarSocio' #validarSocio = 'ngModelGroup'>
      <div class="form-group">
        <label for="servicio">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="socioCrear.nombre" minlength="3" maxlength="30" #nombre = 'ngModel' pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+$">
      </div>
      <div [hidden]="nombre.valid ||nombre.pristine">  
        <span class="text-danger" *ngIf="nombre.errors?.['required']"> 
          Campo requerido
        </span>
      </div>
      <div [hidden]="nombre.valid ||nombre.pristine">  
        <span class="text-danger" *ngIf="nombre.errors?.['minlength']"> 
         Minimo 3 caracteres
        </span>
      </div>
      <div [hidden]="nombre.valid ||nombre.pristine">  
        <span class="text-danger" *ngIf="nombre.errors?.['pattern']"> 
         Solo se permiten letras
        </span>
      </div>
      <div class="form-group">
        <label for="bajada">Apellido:</label>
        <input type="text" class="form-control" id="nombre" name="apellido" required [(ngModel)]="socioCrear.apellido" minlength="3" maxlength="30" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+$"  #password = 'ngModel'>
      </div>
      <div [hidden]="password.valid ||password.pristine">  
        <span class="text-danger" *ngIf="password.errors?.['required']"> 
          Campo requerido
        </span>
      </div>
      <div [hidden]="password.valid ||password.pristine">  
        <span class="text-danger" *ngIf="password.errors?.['minlength']"> 
         Minimo 3 caracteres
        </span>
      </div>
      <div [hidden]="password.valid ||password.pristine">  
        <span class="text-danger" *ngIf="password.errors?.['pattern']"> 
         Solo se permiten letras
        </span>
      </div>
      <div class="form-group">
        <label for="subida">DNI:</label>
        <input type="text" class="form-control" id="dni" name="dni" required [(ngModel)]="socioCrear.dnic" minlength="8" maxlength="10" pattern="^[0-9]+$" #dni = 'ngModel'>
      </div>
      <div [hidden]="dni.valid ||dni.pristine">  
        <span class="text-danger" *ngIf="dni.errors?.['pattern']"> 
         Ingresa un dni valido
        </span>
      </div>
      <div [hidden]="dni.valid ||dni.pristine">  
        <span class="text-danger" *ngIf="dni.errors?.['required']"> 
         Este campos es requerido
        </span>
      </div>
      <div [hidden]="dni.valid ||dni.pristine">  
        <span class="text-danger" *ngIf="dni.errors?.['minlength']"> 
         Minimo 8 caracteres
        </span>
      </div>
      <div class="form-group">
        <label for="precio">Telefono:</label>
        <input type="text" class="form-control" id="telefono" name="telefono" required [(ngModel)]="socioCrear.telefono" minlength="10" maxlength="11" pattern="^[0-9]+$" #telefono = 'ngModel'>
      </div>
      <div [hidden]="telefono.valid ||telefono.pristine">  
        <span class="text-danger" *ngIf="telefono.errors?.['pattern']"> 
         Ingresa telefono valido
        </span>
      </div>
      <div [hidden]="telefono.valid ||telefono.pristine">  
        <span class="text-danger" *ngIf="telefono.errors?.['required']"> 
         Este campos es requerido
        </span>
      </div>
      <div [hidden]="telefono.valid ||telefono.pristine">  
        <span class="text-danger" *ngIf="telefono.errors?.['minlength']"> 
         Minimo 10 caracteres
        </span>
      </div>
      <div class="form-group">
        <label for="precio">Direccion:</label>
        <input type="text" class="form-control" id="direccion" name="direccion" required [(ngModel)]="socioCrear.direccionc" minlength="3" maxlength="50" #direccion= 'ngModel'>
      </div>
      <div [hidden]="direccion.valid ||direccion.pristine">  
        <span class="text-danger" *ngIf="direccion.errors?.['minlength']"> 
         Minimo 3 caracteres
        </span>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="validarSocio.invalid">Registrar</button>
    </div>
    </form>
  </div>
</ng-template>




   <!-- Modal -->
   <ng-template #modificarSocioNg>
    <div class="modal-header">
      <h4 class="modal-title">Modificar nuevo socio</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitUpdatedForm()">
        <div ngModelGroup = 'validarSocioM' #validarSocioM = 'ngModelGroup'>
          <div class="form-group">
            <label for="servicio">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="socioCrear.nombre" minlength="3" maxlength="30" #nombre = 'ngModel' pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+$">
          </div>
          <div [hidden]="nombre.valid ||nombre.pristine">  
            <span class="text-danger" *ngIf="nombre.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div [hidden]="nombre.valid ||nombre.pristine">  
            <span class="text-danger" *ngIf="nombre.errors?.['minlength']"> 
             Minimo 3 caracteres
            </span>
          </div>
          <div [hidden]="nombre.valid ||nombre.pristine">  
            <span class="text-danger" *ngIf="nombre.errors?.['pattern']"> 
             Solo se permiten letras
            </span>
          </div>
          <div class="form-group">
            <label for="bajada">Apellido:</label>
            <input type="text" class="form-control" id="nombre" name="apellido" required [(ngModel)]="socioCrear.apellido" minlength="3" maxlength="30" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+$"  #password = 'ngModel'>
          </div>
          <div [hidden]="password.valid ||password.pristine">  
            <span class="text-danger" *ngIf="password.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div [hidden]="password.valid ||password.pristine">  
            <span class="text-danger" *ngIf="password.errors?.['minlength']"> 
             Minimo 3 caracteres
            </span>
          </div>
          <div [hidden]="password.valid ||password.pristine">  
            <span class="text-danger" *ngIf="password.errors?.['pattern']"> 
             Solo se permiten letras
            </span>
          </div>
          <div class="form-group">
            <label for="subida">DNI:</label>
            <input type="text" class="form-control" id="dni" name="dni" required [(ngModel)]="socioCrear.dnic" minlength="8" maxlength="10" pattern="^[0-9]+$" #dni = 'ngModel'>
          </div>
          <div [hidden]="dni.valid ||dni.pristine">  
            <span class="text-danger" *ngIf="dni.errors?.['pattern']"> 
             Ingresa un dni valido
            </span>
          </div>
          <div [hidden]="dni.valid ||dni.pristine">  
            <span class="text-danger" *ngIf="dni.errors?.['required']"> 
             Este campos es requerido
            </span>
          </div>
          <div [hidden]="dni.valid ||dni.pristine">  
            <span class="text-danger" *ngIf="dni.errors?.['minlength']"> 
             Minimo 8 caracteres
            </span>
          </div>
          <div class="form-group">
            <label for="precio">Telefono:</label>
            <input type="text" class="form-control" id="telefono" name="telefono" required [(ngModel)]="socioCrear.telefono" minlength="10" maxlength="11" pattern="^[0-9]+$" #telefono = 'ngModel'>
          </div>
          <div [hidden]="telefono.valid ||telefono.pristine">  
            <span class="text-danger" *ngIf="telefono.errors?.['pattern']"> 
             Ingresa telefono valido
            </span>
          </div>
          <div [hidden]="telefono.valid ||telefono.pristine">  
            <span class="text-danger" *ngIf="telefono.errors?.['required']"> 
             Este campos es requerido
            </span>
          </div>
          <div [hidden]="telefono.valid ||telefono.pristine">  
            <span class="text-danger" *ngIf="telefono.errors?.['minlength']"> 
             Minimo 10 caracteres
            </span>
          </div>
          <div class="form-group">
            <label for="precio">Direccion:</label>
            <input type="text" class="form-control" id="direccion" name="direccion" required [(ngModel)]="socioCrear.direccionc" minlength="3" maxlength="30" #direccion= 'ngModel'>
          </div>
          <div [hidden]="direccion.valid ||direccion.pristine">  
            <span class="text-danger" *ngIf="direccion.errors?.['minlength']"> 
             Minimo 3 caracteres
            </span>
          </div>
        <div *ngIf="getUser() === 2" class="form-group">
          <label for="precio">Servicio:</label>

          <select class="form-select" [(ngModel)]="socioCrear.idServicio" name="idServicio">
            <option *ngFor="let servicio of planesList2" [value]="servicio.idservicio" >{{ servicio.servicio1 }}</option>
          </select>
        </div>
        
        <button type="submit" class="btn btn-warning" [disabled]="validarSocioM.invalid">Actualizar Socio</button>
      </div>
      </form>
    </div>
  </ng-template>



  <ng-template #cambiarEstadoPagoModal>
    <div class="modal-header">
      <h4 class="modal-title">Cambiar Estado</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitEstadoForm()">
        <div *ngIf="getUser() === 2" class="form-group">
          <label for="precio">Estado:</label>
          <select class="form-select" [(ngModel)]="pagoEstadoI.idestado" name="pagoEstadoI">
            <option *ngFor="let pagoEstado of pagoEstado" [value]="pagoEstado.idestadop" >{{ pagoEstado.estadop1 }}</option>
          </select>
        </div>  
        <button type="submit" class="btn btn-warning">Cambiar Estado</button>
      </form>
    </div>
  </ng-template>

  <div #facturadescargar class="facturaOculta" style="visibility: hidden;">
    <div class="header">
      <h2>Factura Cooperativa Electrica de Berrotar&aacute;n</h2>
    </div>
    <div class="info">
      <p><strong>Servicio:</strong> Internet</p>
      <p><strong>Fecha:</strong> {{FacturaDescargarP?.fecha | date:'dd-MM-yyyy'}}</p>
      <p><strong>Fecha de Vencimiento:</strong> {{FacturaDescargarP?.fechavencimiento | date:'dd-MM-yyyy'}}</p>
      <p><strong>Fecha de Pagado:</strong> {{FacturaDescargarP?.fechapagado | date:'dd-MM-yyyy'}}</p>
      <p><strong>ID de Factura:</strong> {{FacturaDescargarP?.idfactura }}</p>
      <p><strong>Nombre:</strong> {{clienteGet.nombre}}</p>
      <p><strong>Apellido:</strong> {{clienteGet.apellido}}</p>
      <p><strong>DNI:</strong> {{clienteGet.dnic}}</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{FacturaDescargarP?.servicio}}</td>
          <td>{{FacturaDescargarP?.estado}}</td>
        </tr>
      </tbody>
    </table>
  
    <div class="footer">
      <p class="total"><strong>Total:</strong> ${{FacturaDescargarP?.preciototal}}</p>
    </div>
  </div>