    /* Estilos para la tabla */
    .facturaOculta table {
      margin: 20px 0;
      font-size: 0.9rem;
      font-family: sans-serif;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }


    .facturaOculta body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
  }

  .invoice {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }


  .facturaOculta header {
    text-align: center;
    margin-bottom: 20px;
  }

  .info {
    margin-bottom: 20px;
  }

  .info p {
    margin: 5px 0;
  }

  .facturaOculta table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }


  .facturaOculta table th {
    background-color: #000000;
    color: #fff;
  }

  .facturaOculta footer {
    margin-top: 20px;
    text-align: right;
  }

  .h4x{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
  }
  .total {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }

  h2{
    text-align: center;
  }

  .logo{
    margin-top: 300px;
    width: 400px;
    height: 400px;
  margin: 0 auto;
  display: block;
  }
  
     table{
      margin-top: 10px;
     }
      /* Estilos para hacer la tabla responsive */
      @media screen and (max-width: 600px) {
        table {
          display: block;
          overflow-x: auto;
          white-space: nowrap;
        }
        
        th, td {
          display: inline-block;
          border: none;
        }
        
        td {
          border-bottom: 1px solid #ddd;
        }
        
        td::before {
          content: attr(data-label);
          display: inline-block;
          font-weight: bold;
          width: 80px;
        }
      
        .fila-activo{
            color: chartreuse;
        }

        .fila-suspendido{
            color: rgb(255, 60, 0);
        }



        .my-custom-modal {
          max-width: 800px;
          width: 80%;
        }


        
      }

      