<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas</title>
</head>
<body>
  <ng-container *ngIf="getUser() == 2">
    
<div class="container">
  <h4 class="h4x">Estadísticas</h4>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="StatsRadio" value="1" (change)="aplicar()">
    <label class="form-check-label" for="inlineRadio1">Estadística Planes</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"  [(ngModel)]="StatsRadio"  value="2" (change)="limpiarArray()">
    <label class="form-check-label" for="inlineRadio2" >Estadística servicio técnico instalación</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [(ngModel)]="StatsRadio"  value="3" (change)="limpiarArray()">
    <label class="form-check-label" for="inlineRadio3">Estado de pagos</label>
  </div>
</div>
  <div class="container">

    <ng-container *ngIf="StatsRadio == 1">

    <div class="grid-container">
      <div class="chart-container">
        <div class="chart-title">Estadística Planes</div>
        
        <div *ngIf="showChart">
          <ngx-charts-bar-vertical class="chart"
             
            [results]="estadisticaList"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            xAxisLabel="Planes"
            yAxisLabel="Clientes"
            [animations]="false"
            >

          </ngx-charts-bar-vertical>
    
        </div>
      </div>
     
    </div>
  </ng-container>
 

  <ng-container *ngIf="StatsRadio == 2">
    <div class="datepicker-container">
      <h4>Desde:</h4>
    <input type="date" id="fromDate" placeholder="Desde" [(ngModel)]="fechaDesde">
    <h4>Hasta:</h4>
    <input type="date" id="toDate" placeholder="Hasta" [(ngModel)]="fechaHasta">
    <button class="apply-button" (click)="aplicarET()" >Aplicar</button>
  </div>

  <div class="grid-container">
    <div class="chart-container">
      <div class="chart-title">Estadística Técnicos</div>
      
      <div *ngIf="showChartT">
        <ngx-charts-bar-vertical class="chart"
             
        [results]="estadisticaList"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Tecnico"
        yAxisLabel="Casos Asignados"
        [animations]="false"
        >

      </ngx-charts-bar-vertical>
      <!---  
      <ngx-charts-pie-chart         [results]="estadisticaList"
      [legend]="true"
      xAxisLabel="Planes"
      yAxisLabel="Clientes"
      [animations]="false">
 
      </ngx-charts-pie-chart>
  -->
      </div>

    </div>
   
  </div>
</ng-container>



 <ng-container *ngIf="StatsRadio == 3">
    <div class="datepicker-container">
      <h4>Desde:</h4>
    <input type="date" id="fromDate" placeholder="Desde" [(ngModel)]="fechaDesde">
    <h4>Hasta:</h4>
    <input type="date" id="toDate" placeholder="Hasta" [(ngModel)]="fechaHasta">
    <button class="apply-button" (click)="aplicarESE()" >Aplicar</button>
  </div>

  <div class="grid-container">
    <div class="chart-container">
      <div class="chart-title">Estadística Pagos</div>
      
      <div *ngIf="showChartT">

      <ngx-charts-pie-chart         [results]="estadisticaList"
      [legend]="true"
      xAxisLabel="Planes"
      yAxisLabel="Clientes"
      [animations]="false">
 
      </ngx-charts-pie-chart>

      </div>

    </div>
   
  </div>
</ng-container>


  </div>
</ng-container>



<ng-container *ngIf="getUser() == 3">
    <div class="container">
  <h4 class="h4x">Estadísticas</h4>
      <div class="datepicker-container">
        <h4>Desde:</h4>
      <input type="date" id="fromDate" placeholder="Desde" [(ngModel)]="fechaDesde">
      <h4>Hasta:</h4>
      <input type="date" id="toDate" placeholder="Hasta" [(ngModel)]="fechaHasta">
      <button class="apply-button" (click)="aplicarETR()" >Aplicar</button>
    </div>
  
    <div class="grid-container">
      <div class="chart-container">
        <div class="chart-title">Estadística casos asignados a técnicos</div>
        
        <div *ngIf="showChartT">
  
  
   <ngx-charts-bar-vertical
   [results]="estadisticaList"
   [legend]="true"
   xAxisLabel="Planes"
   yAxisLabel="Clientes"
   [animations]="false"
   >
   
 </ngx-charts-bar-vertical>
  
        </div>
  
      </div>
     
    </div>
  </div>
  </ng-container>
</body>
</html>
