

<div class="container">
    <div class="form-row align-items-center mt-3">
      <div class="col-auto ml-auto mb-3">
        <button type="submit" class="btn btn-success my-auto" (click)="nuevoPlan()">Nuevo plan</button>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">Id</th>
          <th  class="text-center">Servicio</th>
          <th  class="text-center" >Velocidad de Bajada</th>
          <th  class="text-center" >Velocidad de Subida</th>
          <th  class="text-center">Precio</th>
          <th  class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planX of planesList | paginate: { itemsPerPage: 10, currentPage: paginaActual }">
            <td scope="row"  class="text-center">{{planX.idservicio}} </td>
            <td scope="row"  class="text-center">{{planX.servicio1}} </td>
            <td scope="row"  class="text-center">{{planX.bajada}} </td>
            <td scope="row"  class="text-center" >{{planX.subida}} </td>
            <td scope="row" class="text-center text-success">{{planX.precio}} </td>
            <td><div class="text-center">
                <button class="btn btn-danger " (click)="borrarPlan(planX)">Eliminar</button> 
                <button class="btn btn-warning ml-2" (click)="updatePlan(planX)">Ver/Modificar</button>
            </div>
        </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="paginaActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>

  <!-- Modal -->
<ng-template #registrarPlan>
    <div class="modal-header">
      <h4 class="modal-title">Registrar Plan de Internet</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()" [formGroup]="servicioControl">
        <div class="form-group">
          <label for="servicio">Servicio:</label>
          <input type="text" formControlName="servicio" class="form-control" id="servicio"  [(ngModel)]="plan.servicio1" maxlength="30">
        </div>
        <div [hidden]="servicioControl.get('servicio')?.valid || servicioControl.get('servicio')?.pristine"> 
          <span class="alert alert-danger" *ngIf="servicioControl.get('servicio')?.errors?.['minlength']"> 
            Minimo 3 caracteres
          </span>
          <span class="alert alert-danger" *ngIf="servicioControl.get('servicio')?.errors?.['required']"> 
            Campo requerido
          </span>
        </div>
        <div class="form-group">
          <label for="bajada">Velocidad de Bajada:</label>
          <input type="text"formControlName="fbajada"  class="form-control" id="bajada" name="bajada" required [(ngModel)]="plan.bajada" maxlength="30">
        </div>
        <div [hidden]="servicioControl.get('fbajada')?.valid || servicioControl.get('fbajada')?.pristine"> 
          <span class="alert alert-danger" *ngIf="servicioControl.get('fbajada')?.errors?.['required']"> 
            Campo requerido
          </span>
        </div>
        <div class="form-group">
          <label for="subida">Velocidad de Subida:</label>
          <input type="text" formControlName="fsubida" class="form-control" id="subida" name="subida" required [(ngModel)]="plan.subida" maxlength="30">
        </div>
        <div [hidden]="servicioControl.get('fsubida')?.valid || servicioControl.get('fsubida')?.pristine"> 
          <span class="alert alert-danger" *ngIf="servicioControl.get('fsubida')?.errors?.['required']"> 
            Campo requerido
          </span>
        </div>
        <div class="form-group">
          <label for="precio">Precio:</label>
          <input type="number" formControlName="fprecio" class="form-control" id="precio" name="precio" required [(ngModel)]="plan.precio" maxlength="8">
        </div>
        <div [hidden]="servicioControl.get('fprecio')?.valid || servicioControl.get('fprecio')?.pristine">  
          <span class="alert alert-danger" *ngIf="servicioControl.get('fprecio')?.errors?.['required']"> 
            Campo requerido
          </span>
        </div>
        <div [hidden]="servicioControl.get('fprecio')?.valid || servicioControl.get('fprecio')?.pristine" maxlength="8">  
          <span class="alert alert-danger" *ngIf="servicioControl.get('fprecio')?.errors?.['max']"> 
            Maximo 8 caracteres
          </span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="servicioControl.invalid">Registrar</button>
      </form>
    </div>
  </ng-template>



    <!-- Modal -->
<ng-template #actualizarPlan>
  <div class="modal-header">
    <h4 class="modal-title">Modificar Plan de Internet</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submitFormUpdate()" [formGroup]="servicioControl">
      <div class="form-group">
        <label for="servicio">Servicio:</label>
        <input type="text" formControlName="servicio" class="form-control" id="servicio"  [(ngModel)]="plan.servicio1" maxlength="30">
      </div>
      <div [hidden]="servicioControl.get('servicio')?.valid || servicioControl.get('servicio')?.pristine"> 
        <span class="alert alert-danger" *ngIf="servicioControl.get('servicio')?.errors?.['minlength']"> 
          Minimo 3 caracteres
        </span>
        <span class="alert alert-danger" *ngIf="servicioControl.get('servicio')?.errors?.['required']"> 
          Campo requerido
        </span>
      </div>
      <div class="form-group">
        <label for="bajada">Velocidad de Bajada:</label>
        <input type="text"formControlName="fbajada"  class="form-control" id="bajada" name="bajada" required [(ngModel)]="plan.bajada" maxlength="30">
      </div>
      <div [hidden]="servicioControl.get('fbajada')?.valid || servicioControl.get('fbajada')?.pristine"> 
        <span class="alert alert-danger" *ngIf="servicioControl.get('fbajada')?.errors?.['required']"> 
          Campo requerido
        </span>
      </div>
      <div class="form-group">
        <label for="subida">Velocidad de Subida:</label>
        <input type="text" formControlName="fsubida" class="form-control" id="subida" name="subida" required [(ngModel)]="plan.subida" maxlength="30">
      </div>
      <div [hidden]="servicioControl.get('fsubida')?.valid || servicioControl.get('fsubida')?.pristine"> 
        <span class="alert alert-danger" *ngIf="servicioControl.get('fsubida')?.errors?.['required']"> 
          Campo requerido
        </span>
      </div>
      <div class="form-group">
        <label for="precio">Precio:</label>
        <input type="number" formControlName="fprecio" class="form-control" id="precio" name="precio" required [(ngModel)]="plan.precio" maxlength="8">
      </div>
      <div [hidden]="servicioControl.get('fprecio')?.valid || servicioControl.get('fprecio')?.pristine" maxlength="8">  
        <span class="alert alert-danger" *ngIf="servicioControl.get('fprecio')?.errors?.['required']"> 
          Campo requerido
        </span>
      </div>
      <div [hidden]="servicioControl.get('fprecio')?.valid || servicioControl.get('fprecio')?.pristine" maxlength="8">  
        <span class="alert alert-danger" *ngIf="servicioControl.get('fprecio')?.errors?.['max']"> 
          Maximo 8 caracteres
        </span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="servicioControl.invalid">Modificar</button>
    </form>
  </div>
</ng-template>

  