

<div class="container">
  <h4 class="h4x">Planes</h4>
    <div class="form-row align-items-center mt-3">
      <div class="col-auto ml-auto mb-3">
        <button type="submit" class="btn btn-success my-auto" (click)="nuevoPlan()">Nuevo plan</button>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">Id</th>
          <th  class="text-center">Servicio</th>
          <th  class="text-center" >Velocidad de Bajada</th>
          <th  class="text-center" >Velocidad de Subida</th>
          <th  class="text-center">Precio</th>
          <th  class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planX of planesList | paginate: { itemsPerPage: 10, currentPage: paginaActual }">
            <td scope="row"  class="text-center">{{planX.idservicio}} </td>
            <td scope="row"  class="text-center">{{planX.servicio1}} </td>
            <td scope="row"  class="text-center">{{planX.bajada}} </td>
            <td scope="row"  class="text-center" >{{planX.subida}} </td>
            <td scope="row" class="text-center text-success">{{planX.precio}} </td>
            <td><div class="text-center">
                <button class="btn btn-danger " (click)="borrarPlan(planX)">Eliminar</button> 
                <button class="btn btn-warning ml-2" (click)="updatePlan(planX)">Ver/Modificar</button>
            </div>
        </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="paginaActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>

  <ng-template #registrarPlan>
    <div class="modal-header">
      <h4 class="modal-title">Registrar Plan de Internet</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()" #servicioForm="ngForm">
        <div ngModelGroup="registrarPlan" #registrarPlan="ngModelGroup">
          <div class="form-group">
            <label for="servicio">Servicio:</label>
            <input type="text" class="form-control" id="servicio" name="servicio" required [(ngModel)]="planCrear.servicio1" maxlength="30" minlength="3" #servicio="ngModel">
          </div>
          <div [hidden]="servicio.valid || servicio.pristine">  
            <span class="text-danger" *ngIf="servicio.errors?.['minlength']"> 
              Mínimo 3 caracteres
            </span>
            <span class="text-danger" *ngIf="servicio.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div class="form-group">
            <label for="bajada">Velocidad de Bajada:</label>
            <input type="text" class="form-control" id="bajada" name="bajada" required [(ngModel)]="planCrear.bajada" maxlength="30" #bajada="ngModel">
          </div>
          <div [hidden]="bajada.valid || bajada.pristine">  
            <span class="text-danger" *ngIf="bajada.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div class="form-group">
            <label for="subida">Velocidad de Subida:</label>
            <input type="text" class="form-control" id="subida" name="subida" required [(ngModel)]="planCrear.subida" maxlength="30" #subida="ngModel">
          </div>
          <div [hidden]="subida.valid || subida.pristine">  
            <span class="text-danger" *ngIf="subida.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" required [(ngModel)]="planCrear.precio" pattern="^\d{0,8}(?:\.\d{0,2})?$" #precio="ngModel">
          </div>
          <div [hidden]="precio.valid || precio.pristine">  
            <span class="text-danger" *ngIf="precio.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div [hidden]="precio.valid || precio.pristine" maxlength="8">  
            <span class="text-danger" *ngIf="precio.errors?.['pattern']"> 
              Numero fuera de rango
            </span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registrarPlan.invalid">Registrar</button>
      </form>
    </div>
  </ng-template>
  

  <ng-template #actualizarPlan>
    <div class="modal-header">
      <h4 class="modal-title">Modificar Plan de Internet</h4>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"> <!-- (click)="modalRef.hide()" --> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitFormUpdate()" #actualizarPlanForm="ngForm">
        <div ngModelGroup="actualizarPlan" #actualizarPlanGroup="ngModelGroup">
          <div class="form-group">
            <label for="servicio">Servicio:</label>
            <input type="text" class="form-control" id="servicio" name="servicio" required [(ngModel)]="plan.servicio1" maxlength="30" minlength="3" #servicio="ngModel">
          </div>
          <div [hidden]="servicio.valid || servicio.pristine">  
            <span class="text-danger" *ngIf="servicio.errors?.['minlength']"> 
              Mínimo 3 caracteres
            </span>
            <span class="text-danger" *ngIf="servicio.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div class="form-group">
            <label for="bajada">Velocidad de Bajada:</label>
            <input type="text" class="form-control" id="bajada" name="bajada" required [(ngModel)]="plan.bajada" maxlength="30" #bajada="ngModel">
          </div>
          <div [hidden]="bajada.valid || bajada.pristine">  
            <span class="text-danger" *ngIf="bajada.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div class="form-group">
            <label for="subida">Velocidad de Subida:</label>
            <input type="text" class="form-control" id="subida" name="subida" required [(ngModel)]="plan.subida" maxlength="30" #subida="ngModel">
          </div>
          <div [hidden]="subida.valid || subida.pristine">  
            <span class="text-danger" *ngIf="subida.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" required [(ngModel)]="plan.precio" pattern="^\d{0,8}(?:\.\d{0,2})?$" #precio="ngModel">
          </div>
          <div [hidden]="precio.valid || precio.pristine">  
            <span class="text-danger" *ngIf="precio.errors?.['required']"> 
              Campo requerido
            </span>
          </div>
          <div [hidden]="precio.valid || precio.pristine" maxlength="8">  
            <span class="text-danger" *ngIf="precio.errors?.['pattern']"> 
              Numero fuera de rango
            </span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="actualizarPlanForm.invalid">Modificar</button>
      </form>
    </div>
  </ng-template>