

<div class="container">
    <div class="form-row align-items-center mt-3">
      <div class="col-auto ml-auto mb-3">
        <button type="submit" class="btn btn-success my-auto">Nuevo socio</button>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th  class="text-center">Id</th>
          <th  class="text-center">Servicio</th>
          <th  class="text-center" >Velocidad de Bajada</th>
          <th  class="text-center" >Velocidad de Subida</th>
          <th  class="text-center">Precio</th>
          <th  class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of planesList">
            <td scope="row"  class="text-center">{{plan.idservicio}} </td>
            <td scope="row"  class="text-center">{{plan.servicio1}} </td>
            <td scope="row"  class="text-center">{{plan.bajada}} </td>
            <td scope="row"  class="text-center" >{{plan.subida}} </td>
            <td scope="row" class="text-center text-success">{{plan.precio}} </td>
            <td><div class="text-center">
                <button class="btn btn-danger ">Eliminar</button> 
                <button class="btn btn-warning ml-2">Modificar</button>
            </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
